[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
sqlacodegen = ">=3.0.0b2"

[packages]
mutagen = "*"
sqlalchemy = "*"
pymysql = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
